@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
}

@layer components {
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: black;
    border-radius: 5px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 14px;
  }

  .my-custom-style {
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
  }

  .home-color {
    background: rgb(70, 84, 252);
    background: radial-gradient(
      circle,
      rgba(70, 84, 252, 1) 0%,
      rgba(64, 77, 225, 1) 39%,
      rgba(23, 24, 28, 1) 100%
    );
  }
  .bubble {
    --r: 1em; /* the radius */
    --t: 1.5em; /* the size of the tail */

    max-width: 300px;
    padding: 1em;
    border-inline: var(--t) solid #0000;
    border-radius: calc(var(--r) + var(--t)) / var(--r);
    mask:
      radial-gradient(100% 100% at var(--_p) 0, #0000 99%, #000 102%) var(--_p)
        100% / var(--t) var(--t) no-repeat,
      linear-gradient(#000 0 0) padding-box;
    background: rgb(13, 13, 91);
    color: #fff;
  }
  .left {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
  }
  .right {
    --_p: 100%;
    border-bottom-right-radius: 0 0;
    place-self: end;
  }
}
